docker-compose/.env
*/target/*
*/bin/*
*/pkg/*
*/out/*
*/build/*
*/.gradle/*

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/


# eclipse project file
.settings/
.classpath
.project

scala-akka/gradlew.bat

#HipTest
**/*HipSpec.groovy

# LevelDB
journal