**/target/*
**/bin/*
**/pkg/*
**/out/*
**/build/*
**/.gradle/*

docker-compose/.env

#HipTest
**/*HipSpec.groovy

# LevelDB
journal

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# Other
.directory
