token = '302030023276668777625949628722045670174600344101632542203'
language = 'groovy'
framework = 'spock'
package = 'testing.hiptest'
output_directory = './src/test/groovy/testing/hiptest'
# use dedicated suffix for generated Specs so we can ignore them in Git
filename_pattern = "%sHipSpec.groovy"

push_format = junit

with_folders = true
keep_filenames = false
keep_foldernames = false
empty_folders = false
leafless_export = false

overriden_templates = 'src/ruby/templates/groovy'

#test-run-name = AAA
#test-run-id = 154266